@use '../styles/variables' as *;

.fh-flash{
  position: fixed;
  top: 72px;            /* passe sous ton header */
  left: 12px; right: 12px;
  z-index: 60;
  display:flex; align-items:center; justify-content:space-between;
  gap:12px;
  padding:12px 14px;
  border-radius:12px;
  color:#fff;
  box-shadow: 0 6px 18px rgba(0,0,0,.09);

  &.success{ background: $color-available }      // vert
  &.error{   background: #e53935 }               // rouge
  &.info{    background: $color-primary }        // bleu

  .txt{ font-weight:600 }
  .close{
    background: rgba(255,255,255,.15);
    border:0; border-radius:10px; color:#fff; padding:6px; cursor:pointer;
  }
}
